<!DOCTYPE html>
<html>
<head>
	<title>
		Test page 
	</title>
</head>
<body>

<center><img src="../static/logo_s.png"></center>
</br>
</br>

Greetings ,</br>
</br>
The statistics for your most recent domain scan for the domain {{Domain}} are attached below,</br>
</br>
<b>SQL Injection</b></br>
</br>
Max Score: 1 </br>
Recommended Score: 1</br>
Domain Score: {{sqlinjection}}</br>

</br>


<b>XMAS</b></br>
</br>
Max Score: 10 </br>
Recommended Score: 8 </br>
Domain Score: {{xmas}}</br>
</br>

</br>


<b>Borken ACL</b></br>
</br>
Max Score: 1 </br>
Recommended Score: 1</br>
Domain Score: {{borkenACL}}</br>
</br>
</br>


<b>Arecord Redirection</b></br>
</br>
Max Score: 1 </br>
Recommended Score: 1</br>
Domain Score: {{ArecordRedirection}}</br>

</br>


<b>CORS</b></br>
</br>
Max Score: 10 </br>
Recommended Score: 7</br>
Domain Score: {{cors}}</br>
</br>

</br>

<b>Bad Authentication</b></br>
</br>
Max Score: 10 </br>
Recommended Score: 7</br>
Domain Score: {{Bad_authentication}}</br>
</br>
</br>

<b>Session Hijack</b></br>
</br>
Max Score: 1 </br>
Recommended Score: 1</br>
Domain Score: {{Sessionhijack}}</br>
</br>
</br>



Regards,</br>
SiteCX.com</br>
 	
   

</body>
</html>