<!DOCTYPE html>
<html>
<title>XSS</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<style>
body,h1,h5 {font-family: "Raleway", sans-serif}
body, html {height: 100%}
.bgimg {
  background-image: url('../static/xss-attack.png');
  min-height: 100%;
  background-position: center;
  background-size: cover;
}
</style>
<body bgcolor="#696969">
<h1 style="font-size:60px;" align="center"><b>Cross Site Scripting</b></h1>
<div class="bgimg w3-display-container w3-text-white">
  <div class="w3-display-middle w3-jumbo">
    <p></p>
  </div>
  <div class="w3-display-topleft w3-container w3-xlarge">
 <p><button onclick="document.getElementById('About').style.display='block'" class="w3-button w3-black">About</button></p>
    <p><button onclick="document.getElementById('Justification').style.display='block'" class="w3-button w3-black">Justiication</button></p>
    <p><button onclick="document.getElementById('Suggested action').style.display='block'" class="w3-button w3-black">Suggested action</button></p>
  </div>
  <div class="w3-display-bottomleft w3-container w3-text-black">
    <p class="w3-xlarge"></p>
    <p class="w3-large"></p>
    
  </div>
</div>
<!-- About Modal -->
<div id="About" class="w3-modal">
  <div class="w3-modal-content w3-animate-zoom">
    <div class="w3-container w3-black">
      <span onclick="document.getElementById('About').style.display='none'" class="w3-button w3-display-topright w3-large">x</span>
      <h1></h1>
    </div>
    <div class="w3-container">
      <p></p>
      <form action="/action_page.php" target="_blank">
        <br>
        <p>Cross Site Scripting (XSS) is one of the most popular and vulnerable attacks which is known by every advanced tester.It is considered as one of the riskiest attacks for the web applications and can bring harmful consequences too.</p>
        <p>Cross Site Scripting attack is a malicious code injection, which will be executed in the victims browser. Malicious script can be saved on the web server and executed every time when the user calls the appropriate functionality.</p>
<p>The main purpose of this attack is to steal the other users identity data such as cookies,session tokens and other information.In most of the cases,this attack is being used to steal the other persons cookies.As we know,cookies help us to log in automatically.Therefore with stolen cookies,we can login with the other identities.And this is one of the reasons,why this attack is considered as one of the riskiest attacks.</p> 
      </form>
    </div>
  </div>
</div>

<!-- Menu Modal -->
<div id="Justification" class="w3-modal">
  <div class="w3-modal-content w3-animate-zoom">
    <div class="w3-container w3-black w3-display-container">
      <span onclick="document.getElementById('Justification').style.display='none'" class="w3-button w3-display-topright w3-large">x</span>
      <h1>XSS</h1>
    </div>
    <div class="w3-container">
      <h5>Why warning?</h5>
    </div>
    <div class="w3-container w3-black">
      <h1>XSS protection header is not present</h1>
    </div>
  </div>
</div>

<!-- Contact Modal -->
<div id="Suggested action" class="w3-modal">
  <div class="w3-modal-content w3-animate-zoom">
    <div class="w3-container w3-black">
      <span onclick="document.getElementById('Suggested action').style.display='none'" class="w3-button w3-display-topright w3-large">x</span>
      <h1>Prevention</h1>
    </div>
    <div class="w3-container">
      <p></p>
      <form action="/action_page.php" target="_blank">
        <p>Output encoding</p>
        <p>->converts command characters to benign characters</p>
        <p>Input validation</p>
        <p></p>
        <p></button></p>
      </form>
    </div>
  </div>
</div>

</body>
</html>

